@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');
* {
    margin: 0%;
    padding: 0%;
}

.body-lab05{
    background: rgb(187, 251, 236);
    
}
.section-lab05 h1{
    font-size: 30px;
    color:rgb(0, 0, 0)
}
h1{
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    padding-left: 1px;
}

.borde{
    border: solid rgb(201, 151, 14);
    width: 300px;
    height: 40px;
    margin-top: 6px;
    font-family: 'Inter', sans-serif;
}

#formulario{
    padding-left: 40px;
    margin: 24px;
}
#formulario2{
    margin: 30px;
    padding-left: 60px;
    padding-right: 0px;
    padding-top: 6px;
    padding-bottom: 1px;
}
#formulario3{
    margin: 30px;
    padding-left: 0px;
    padding-top: 3px;
    padding-bottom: 1px;
}
#colum1{
    padding-left: 150px;
    padding-right: 10px;
    margin: 4px 2px;
}

#botones{
    float: right;
}
.datos{
    color: white;
    font-family: 'Inter', sans-serif;
    background: rgb(12, 93, 191);  
    width: 190px;
    padding-left: 10px;
    margin-bottom: 6px;
    padding-right: 0px;
    padding-top: 8px;
    height: 40px;
    margin-top: 6px;
}
.salida{
    color: white;
    font-family: 'Inter', sans-serif;
    background: rgb(202, 37, 8);
    width: 185px;
    height: 40px;
    padding-left: 10px;
    margin-bottom: 6px;
    padding-right: 0px;
    padding-top: 8px;
}

#boton-extraer{
    border-radius: 5px;
    background: rgb(255, 166, 0);
    font-family: 'Inter', sans-serif;
    border-color: white;
    font-size: 18px;
    width: 160px;
    height: 40px;
    color: white;
    margin-top: 10px;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px; 
    
}
#boton-colorear{
    border-radius: 5px;
    background: rgb(202, 37, 8);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    width: 160px;
    height: 40px;
    color: white;
    margin-bottom: 10px;
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
}